<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing</title>
  <link href="/static/ticket-lottery-website-favicon-color.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="\static\style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" defer></script>
  <script src="\static\script2.js" defer></script>
</head>
<body>
<main>
<section class="landing">

<nav>
  <a class="navbar-brand" href="/home"><img src="\static\lil-logo.png"  width="50" height="50"></a>
  <!--<h1 id="logo">TL</h1>-->

  <ul class="nav-links">
    <li><a style = "text-decoration: none;" class="nav-link" href="/register">Register</a></li>
    <li><a style = "text-decoration: none;" class="nav-link" href="/login">Login</a></li>
  </ul>
</nav>
<h2 class="big-text">Ticket &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Lottery</h2>
</section>
<div class="intro">
  <div class="intro-text">
    <h1 class="hide">
      <span class="text">Enter the lottery for a chance to win.</span>
    </h1>
    <h1 class="hide">
      <span class="text">Fair drawings for all tickets.</span>
    </h1>
    <h1 class="hide">
      <span class="text">Enjoy more events!</span>
    </h1>
  </div>
</div>
<div class="slider">
</div>
</body>
</main>